<div class="container my-24 mx-auto md:px-6">
  <!-- Section: Design Block -->
  <section class="mb-32 text-center" id="Nosotros">
    <h2 class="mb-4 text-3xl font-bold">
      Somos el centro de servicio Whirlpool, Liverpool, Palacio de hierro, Costco , entre otros.
    </h2>
    <p class="mb-16 text-slate-300">
      Somos una empresa con más de 30 años de experiencia, ofrecemos garantía por escrito y la mejor
      atención en cada uno de nuestros servicios.
      <br />
      Contamos con sucursales en el interior de la república y refaccionarias.
    </p>

    <div class="grid max-w-full items-center gap-6 md:grid-cols-2 lg:grid-cols-4">
      <div class="mb-12 lg:mb-0">
        <img src="/images/lp.png" class="px-6 dark:brightness-150 md:px-12" alt="Liverpool" />
      </div>

      <div class="mb-12 lg:mb-0">
        <img src="/images/Costco.png" class="px-6 dark:brightness-150 md:px-12" alt="Costco" />
      </div>

      <div class="mb-12 lg:mb-0">
        <img
          src="/images/palacio.png"
          class="px-6 dark:brightness-150 md:px-12"
          alt="Nike - logo"
        />
      </div>

      <div class="mb-12 lg:mb-0">
        <img
          src="/images/whirlpool.png"
          class="px-6 dark:brightness-150 md:px-12"
          alt="Ikea - logo"
        />
      </div>
    </div>
  </section>
  <!-- Section: Design Block -->
</div>
