<section id="Servicios">
  <div class="mx-auto max-w-screen-2xl px-4 sm:px-6 lg:px-8">
    <div class="grid grid-cols-1 lg:h-screen lg:grid-cols-2">
      <div class="relative z-10 lg:py-16">
        <div class="relative h-64 sm:h-80 lg:h-full">
          <img
            alt="Locacion"
            src="/images/locacion.jpg"
            class="absolute inset-0 h-full w-full object-cover"
          />
        </div>
      </div>

      <div class="relative flex items-center bg-primary-700">
        <span
          class="hidden lg:absolute lg:inset-y-0 lg:-start-16 lg:block lg:w-16 lg:bg-primary-700"
        ></span>

        <div class="p-8 sm:p-16 lg:p-24">
          <h2 class="text-2xl font-bold sm:text-3xl">
            No somos un Call Center fantasma, somos un servicio con más de 30 años de experiencia
          </h2>

          <ul class="mt-4 text-lg text-slate-300 list-disc grid lg:grid-cols-2 gap-4">
            <li class="lg:col-span-2">
              Siempre otorgamos el <span class="font-bold">10% de descuento</span> en apoyo a tu economía
            </li>
            <li class="lg:col-span-2">Contamos con refaccionarias y almacén</li>
            <li>Revisión <span class="font-bold">GRATIS</span></li>
            <li>Estamos establecidos</li>
            <li>Registrados ante el SAT</li>
            <li>Garantia por escrito</li>
            <li>Contamos con <span class="font-bold">tecnicos capacitados</span></li>
            <li>Entregamos <span class="font-bold">garantía</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
